/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url('../../content/images/hipster.png') no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        background: url('../../content/images/hipster2x.png') no-repeat center top;
        background-size: contain;
    }
}

.home .home-img {
    height: 600px;
    display: inline-block;
    vertical-align: middle;
    width: 600px;
}

.home .home-img2 {
    height: 800px;
    display: inline-block;
    vertical-align: middle;
    width: 1600px;
}

.home-img {
    height: 100%;
    background: url('../../content/images/heart.png') no-repeat center center;
    background-size: contain;
    width: 100%;
}

.home-img2 {
    height: 100%;
    background: url('../../content/images/dashboard.png') no-repeat center center;
    background-size: contain;
    width: 100%;
}
