<div class="row">
    <div class="col-md-12" align="center">
        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="true" class="home"><span class="home-img2"></span></div>
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account"
                   > You are logged in as user "{{account.login}}". </span>
            </div>
            <div align="center" class="home" *ngSwitchCase="false">
                <h1 class="display-4">Welcome to Anxpression</h1>
                <span class="home-img"></span>
            </div>
            <div class="alert" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register">Register a new account</a>
            </div>
        </div>
    </div>
</div>
